.socials {
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -2rem 0;

		& > * {
			padding: 0 2rem;
		}
	}

	&__item {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}

	&__item,
	&__link {
		display: flex;
	}

	&__link {
		&:hover {
			transform: translateY(-0.3rem);
		}
	}

	&__icon {
		width: 40px;
		height: 40px;
		transition: all var(--animation-duration) var(--animation-timing-function);
	}
}
