<section class="cta">

	<div class="container">


		<div class="cta__inner text-center" data-aos="fade-up" data-aos-duration="1200">
			<div class="headline cta__headline">
				<h2 class="h3 headline__title">Work better together</h2>
				<p>Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...</p>
			</div>

			<ul class="progress-list progress-list--reversed cta__progress">
				<!-- .progress-list-item -->
				<li class="progress-list__item progress-list-item">
					<div class="progress-list-item__info">
						<span class="progress-list-item__target">Facebook</span>
						<span class="progress-list-item__stats">35,929</span>
					</div>
					<div class="progress-list-item__bar progressbar progressbar--lg" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--progress-value-color: var(--bg-color-primary); --progress-value-width: 50%;">
						<!-- Decided not to use progress tag since its pseudo elements (-webkit-progress-value etc) aren't well supported -->
						<!-- <progress max="100" value="50">50%</progress> -->
						<div class="progressbar__value"></div>
					</div>
				</li>
				<!-- /.progress-list-item -->
			</ul>

			<div class="cta__interaction">
				<a href="#!" class="btn btn--primary modal-toggler" aria-label="Try it for free link">try for free</a>
			</div>
		</div>


	</div>

</section>
