<header class="header">

	<div class="container">


		<div class="header__inner">
			<div class="logo">
				<a href="" class="logo__link">
					<img src="./assets/media/logo/logo.png" alt="Figma land logo">
				</a>
			</div>

			<nav class="nav nav-drop">
				<ul class="nav__list">
					<!-- .nav-item -->
					<li class="nav__item">
						<!-- .nav__link--active is implemented as well -->
						<a href="#!" class="nav__link" aria-label="Link to home page">Home</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to product page">product</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to about page">about</a>
					</li>
					<!-- /.nav-item -->

					<!-- .nav-item -->
					<li class="nav__item">
						<a href="#!" class="nav__link" aria-label="Link to contact page">Contact</a>
					</li>
					<!-- /.nav-item -->
				</ul>
			</nav>

			<div class="header__interaction">
				<a href="#!" class="btn btn--primary modal-toggler" aria-label="Sign up modal toggler">sign up</a>
			</div>

			<div class="nav-toggler">
				<button class="nav-toggler__btn btn-reset" aria-label="Mobile navigation toggler">
					<span class="nav-toggler__line nav-toggler__line--1"></span>
					<span class="nav-toggler__line nav-toggler__line--2"></span>
					<span class="nav-toggler__line nav-toggler__line--3"></span>
				</button>
			</div>
		</div>


	</div>

</header>
