<section class="intro section-lifted">

	<div class="container">


		<div class="intro__inner text-center">
			<div class="intro__wrapper" data-aos="fade-in" data-aos-duration="1200">
				<div class="headline intro__headline">
					<h1 class="h1 headline__title">Lightning fast prototyping</h1>
					<p>Most calendars are designed for teams. Slate is designed for<br>freelancers who want a simple way to plan
						their schedule.</p>
				</div>

				<div class="intro__cta">
					<a href="#!" class="btn btn--primary btn--lg modal-toggler" aria-label="Try for free button opening a modal">try for
						free</a>
				</div>
			</div>

			<div class="decoration" aria-hidden="true">
				<!-- .decoration-item -->
				<div class="decoration__item"
					style="top: 32%; left: 12.2%; --decoration-width: 3.4rem; --decoration-width-sm: 1.6rem; --fill-color: var(--color-yellow); --stroke-color: var(--color-yellow);">
					<svg class="decoration__icon">
						<use xlink:href="./assets/media/icons/sprite.svg#dec-square-text"></use>
					</svg>
				</div>
				<!-- /.decoration-item -->

				<!-- .decoration-item -->
				<div class="decoration__item"
					style="top: 58%; left: 1.5%; --decoration-width: 4rem; --decoration-width-sm: 1.5rem; --fill-color: var(--color-blue); --stroke-color: var(--color-blue);">
					<svg class="decoration__icon">
						<use xlink:href="./assets/media/icons/sprite.svg#dec-square"></use>
					</svg>
				</div>
				<!-- /.decoration-item -->

				<!-- .decoration-item -->
				<div class="decoration__item" style="right: 28.5%; bottom: 19%; stroke-width: 0.5rem; --decoration-width: 6rem; --decoration-width-sm: 3rem; --stroke-color: var(--color-yellow);">
					<svg class="decoration__icon">
						<use xlink:href="./assets/media/icons/sprite.svg#dec-circle"></use>
					</svg>
				</div>
				<!-- /.decoration-item -->

				<!-- .decoration-item -->
				<div class="decoration__item" style="right: 8%; bottom: 40%; --decoration-width: 5.4rem; --decoration-width-sm: 2.6rem; --fill-color: var(--color-blue-zodiac); --stroke-color: var(--color-blue-zodiac);">
					<svg class="decoration__icon">
						<use xlink:href="./assets/media/icons/sprite.svg#dec-triangle"></use>
					</svg>
				</div>
				<!-- /.decoration-item -->

				<!-- .decoration-item -->
				<div class="decoration__item" style="right: 3%; bottom: 10%; --decoration-width: 4.9rem; --decoration-width-sm: 2.4rem; --fill-color: var(--color-blue); --stroke-color: var(--color-blue);">
					<svg class="decoration__icon">
						<use xlink:href="./assets/media/icons/sprite.svg#dec-squareplus"></use>
					</svg>
				</div>
				<!-- /.decoration-item -->
			</div>

			<div class="intro__imgoverlapped intro__imgoverlapped--floating" data-aos="fade-in" data-aos-duration="1400">
				<img src="./assets/media/images/different/pic-isometric.png" alt="" aria-hidden="true">
			</div>
		</div>


	</div>

</section>
