<div class="modal-content">


	<div class="modal-content__inner">
		<div class="headline">
			<h2 class="h3 headline__title">Title of the modal</h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At et cumque omnis facere, recusandae reiciendis accusantium temporibus, expedita soluta quae possimus necessitatibus dolorem! Voluptas pariatur nulla corrupti consequatur cum. Velit.</p>
		</div>

		<div class="form-subscription">
			<form>
				<div class="form-subscription__inner">
					<input type="email" class="form-subscription__input" id="emailModal" name="emailModal" placeholder="Enter Your Adress Email">
					<button class="btn btn--primary">subscribe</button>
				</div>
			</form>
		</div>
	</div>


</div>
