<section class="subscription bg-light">

	<div class="container">


		<div class="subscription__inner">
			<!-- .subscription-content -->
			<div class="subscription__content" data-aos="fade-up" data-aos-duration="1200">
				<div class="headline subscription__headline">
					<h2 class="h3 headline__title">OpenType features and Variable fonts</h2>
					<p>Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan<br>their schedule.</p>
				</div>

				<div class="form-subscription subscription__form">
					<form>
						<div class="form-subscription__inner">
							<input type="email" class="form-subscription__input" id="email" name="email" placeholder="Enter Your Adress Email">
							<button class="btn btn--primary">subscribe</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /.subscription-content -->

			<!-- .subscription-media -->
			<div class="subscription__media subscription__media--overlapped" data-aos="fade-in" data-aos-delay="200">
				<img src="./assets/media/images/different/pic-phone.png" alt="Just decorative image">
			</div>
			<!-- /.subscription-media -->
		</div>


	</div>

</section>
